# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.BeamNG Exproted Car Naming Tool.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\Repos\BeamNG Exproted Car Naming Tool\.idea\.idea.BeamNG Exproted Car Naming Tool\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
